:root {
  --just-white: #fff;
  --grey: #70757a;
  --secondary-grey: #5f6368;
  --soft-grey: #dadce0;
  --blue: #4285f4;
  --secondary-blue: #1a73e8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body.dropdownMenu__active {
  filter: rgba(0, 0, 0, 0.6);
}

ul, ol {
  list-style: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ozpirk");
  src: url("../fonts/icomoon.eot?ozpirk#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ozpirk") format("truetype"),
    url("../fonts/icomoon.woff?ozpirk") format("woff"),
    url("../fonts/icomoon.svg?ozpirk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-apps:before {
  content: "\e901";
}


/* Desktop elements */
.navbar__desktop,
.google-camara,
.main-buttonsContainer,
.footer__menuContainer-Desktop,
#footerSettings {
  display: none;
}

/* HEADER */
#burgerButton {
  cursor: pointer;
}

#dropdownMenuContainer {
  position: fixed;
  z-index: 199;
}

#dropdownMenuContainer.active {
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.6);
}

#dropdownMenu {
  width: 250px;
  height: 100%;
  padding-top: 15px;
  position: fixed;
  left: -250px;
  overflow-y: scroll;
  z-index: 200;
  background-color: var(--just-white);
  transition: .5s;
}

#dropdownMenu.active {
  left: 0;
}

#dropdownMenu a:first-child {
  box-sizing: content-box;
  display: block;
  width: 92px;
  height: 36px;
  margin-left: 15px;
  padding-bottom: 8px;
  background-image: url('../assets/img/google_logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 200;
}

.dropdownMenu__nav-line {
  margin: 5px 0;
  height: 1px;
  background-color: var(--soft-grey);
}


#dropdownMenu a {
  display: flex;
  align-items: center;
  height: 48px;
  line-height: 20px;
  font-size: 1.6rem;
  text-decoration: none;
  color: rgba(0,0,0,.54);
  cursor: pointer;
}

#dropdownMenu img {
  margin-bottom: 3px;
  padding: 0 15px;
}

#dropdownMenu span {
  margin-bottom: 3px;
  padding: 0 15px;
}

.header__navbar .navbar__mobile {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navbar__mobile-left,
.navbar__mobile-right,
.navbar__mobile-links {
  display: flex;
}

.navbar__mobile .navbar__item {
  display: flex;
  align-items: center;
  color: var(--grey);
}

.navbar__mobile-left .material-symbols-outlined {
  padding: 12px 16px;
}

.navbar__mobile-links .navbar__item {
  margin-right: 8px;
  padding: 0 8px;
}


.navbar__mobile-links .navbar__item:first-child {
  margin-top: 2px;
  border-bottom: 2px solid var(--blue);
}

.navbar__mobile-links .navbar__item:first-child a {
  color: var(--blue);
}

.navbar__mobile-links a {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey);
}

.navbar__mobile-right {
  padding-right: 4px;
}

.navbar__mobile-right li:first-child {
  padding: 4px;
}

.navbar__mobile-right .material-symbols-sharp {
  padding: 8px;
  color: var(--secondary-grey);
}

.navbar__mobile-right .material-symbols-sharp:hover {
  border-radius: 50%;
  background-color: rgba(60,64,67,.1);
}


.navbar__mobile-right a {
  margin: 0 8px;
  padding: 9px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.25px;
  text-decoration: none;
  background-color: var(--secondary-blue);
  color: var(--just-white);
}

/* MAIN */
.main {
  padding-top: 20px;
}

.main__logo {
  display: block;
  width: 160px;
  margin: 44px auto 26px;
}

.main__search-container {
  max-width: 736px;
  margin: 8px;
  border: 1px solid var(--soft-grey);
  border-radius: 24px;

}

.main__search-container.active {
  max-width: initial;
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  position: fixed;
  top: 0;
  z-index: 989;
  background-color: var(--just-white);
}

.main__search-content {
  display: flex;
  align-items: center;
}

.icon-search {
  padding-left: 8px;
  font-size: 2.4rem;
  color: #9aa0a6;
}

.main__search-container .material-symbols-outlined {
  display: none;
  color: var(--secondary-blue);
  cursor: pointer;
}

.search-input {
  width: 100%;
  padding: 7px 0 6px 19px;
  line-height: 2.5rem;
  border: none;
  outline: none;
}

.google-microphone {
  width: 24px;
  height: 24px;
  margin: 0 12px;
  cursor: pointer;
}

.main__search-container.active .main__search-content {
  border-bottom: 1px solid var(--soft-grey);
  margin: 0 6px 0 10px;
} 

.main__search-container.active .icon-search {
  display: none;
}

.main__search-container.active .material-symbols-outlined {
  display: initial;
  margin: 0 3px 0 7px;
  padding: 0 12px 0 0;
}

.main__search-container.active .search-input {
  padding: 12px 2px 12px 3px;
  line-height: 2.4rem;
  font-size: 1.8rem;
}

.main__search-container.active .google-microphone {
  box-sizing: content-box;
  margin: 0;
  padding: 0 12px;
}

.main__search-container.active .google-microphone.active {
  display: none;
}

.main__search-container.active .google-microphone.active ~ #clearSearchButton {
  display: inherit;
}

.main__search-container.active #clearSearchButton {
  display: none;
  box-sizing: content-box;
  margin: 0;
  padding: 0 12px;
  color: var(--grey);
  cursor: pointer;
}

.main-textOffered {
  margin-top: 24px;
  padding: 0 12px;
  line-height: 2.8rem;
  text-align: center;
  font-size: 1.3rem;
  color: #3c4043;
}

.main-textOfferedSpan {
  padding: 0 8px;
  text-decoration: none;
  color: #1558d6;
}

.main-textOfferedSpan:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* FOOTER */
.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
}

.footer a {
  text-decoration: none;
  color: var(--grey);
}

.footer-nation {
  height: 37px;
  padding-left: 12px;
  line-height: 35px;
  font-size: 1.6rem;
  font-style: normal;
  border-bottom: solid 1px var(--soft-grey);
  color: var(--grey);
}

.footer__menuContainer-midSection {
  height: 46px;
  border-bottom: solid 1px var(--soft-grey);
}

.footer__menuContainer-mobile {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer__menuContainer-mobile .footer__menuList {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 320px;
  height: 35px;
  margin: 0 auto;
}

.footer__menuContainer-mobile .footer__menuList a {
  padding-left: 27px;
  font-size: 1.3rem;
}

.footer__menuContainer-mobile .footer__menuList li:first-child a {
  padding-left: 0;
}

.footer-menuList {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.footer-menuItem {
  margin-right: 27px;
}

.footer-menuItem:last-child {
  margin-right: 0;
}

.footer-menuLink {
  color: var(--colorTextFooterMenu);
  text-decoration: none;
}

.footer-menuLink:hover {
  text-decoration: underline;
}

/* DARK MODO */
body.dark .navbar__mobile-left .material-symbols-outlined,
body.dark .navbar__mobile-links a,
body.dark .footer-nation,
body.dark footer a {
  color: #9aa0a6;
}

body.dark,
body.dark .search-input,
body.dark #dropdownMenu {
  background-color: #202124;
}

body.dark .main__search-container.active {
  margin: 0;
  background-color: #202124;
}

body.dark .search-input {
  background-color: #202124;
  color: #bdc1c6;
}

body.dark .footer-nation,
body.dark .footer__menuContainer-midSection {
  border-color: #3c4043;
}

body.dark .dropdownMenu__nav-line {
  background-color: #3c4043;
}

body.dark .navbar__mobile-links .navbar__item:first-child a {
  color: #8ab4f8;;
}

body.dark .navbar__mobile-links .navbar__item:first-child {
  border-color: #8ab4f8;
}

body.dark .navbar__mobile-right .material-symbols-sharp {
  color: rgba(255,255,255,0.87);
}

body.dark .navbar__mobile-right a {
  background-color: #8ab4f8;
  color: #202124;
}

body.dark .main__search-container {
  border-color: var(--grey);
  margin: 0 16px;
}

body.dark .main-textOffered,
body.dark #dropdownMenu a {
  color: #bdc1c6;
}

body.dark .main__logo {
  content: url('../assets/img/googlelogo_light_color.png');
}

body.dark #dropdownMenu a:first-child {
  background-image: url('../assets/img/googlelogo_light_color.png');
}

body.dark #dropdownMenuSwitch span {
  color: #757575;
}

body.dark .main-textOfferedSpan {
  color: #8ab4f8;
}

body.dark footer {
  background-color: #171717;
}

body.dark .main__search-container.active .material-symbols-outlined {
  color: #8ab4f8;
}

body.dark .main__search-container.active .main__search-content {
  border-color: #70757a;
}


body.dark .navbar__mobile-right .material-symbols-sharp:hover {
  background-color: rgba(232,234,237,.08);
}






